body {
	background-color: #D9FFED;
}

#content{
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 100%;
}

#number{
	margin: auto;
	font-size: 48px;
	color: #254F8D;
	margin-top: 200px;
}

.instruction{
	margin: auto;
	margin-left: 105px; 
	width: 150px;
	height: 40px;
	background-color: #2EFC99;
	color: #003013;
	border-radius: 8px;
	border-style: none;
	font-size: 16px;
	box-shadow: 0 5px 5px 0 grey;
	transition: 0.2s;
	float: center;
}

.instruction:hover{
	cursor: pointer;
	color: white;
}

.instruction:first-child:hover{
	background-color: #FF0101;
}

.instruction:nth-child(2):hover{
	background-color: #453C3C;
}

.instruction:nth-child(3):hover{
	background-color: #254F8D;	
}


#buttons{
	margin-left: 17%;
}

p{
	text-align: center;
	font-weight: bold;
}

@media screen and (max-width: 950px){
	body{
		background-color: blue;
	}
	.instruction{
		margin-left: 30px;
	}
}

@media screen and (max-width: 690px){
	body{
		background-color: green;
	}

	.instruction{
		float: left;
		clear: both;
		margin-top: 10px;
		margin-left: 100px;
	}
}